ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.start {
    align-self: start;
}

.end {
    align-self: end;
}

.message-main {
    height: 100%;
    /* set a maximum height of 50% of viewport height */
    width: 100%;
    background-color: gainsboro;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    /* enable vertical scrolling when the content overflows */
    scroll-behavior: 'smooth';
}